<!DOCTYPE html>
<html lang="en">
  <style type="text/css"></style>
  <head>
    <link rel="stylesheet" href="../static/styles/main.css" />
  </head>
  <body>
    <div>
      <h1>My Crypto Tracker</h1>
    </div>
    <div>
      <table class="tg">
        <thead>
          <tr>
            <th class="tg-0lax" rowspan="2"></th>
            <th class="tg-0lax" colspan="2">Coinbase</th>
            <th class="tg-0lax" colspan="2">Binance</th>
          </tr>
          <tr>
            <th class="tg-0lax">Buy</th>
            <th class="tg-0lax">Sell</th>
            <th class="tg-0lax">Buy</th>
            <th class="tg-0lax">Sell</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="tg-0lax">BTC</td>
            <td class="tg-0lax">${{p["coinbase"]["BTC"]["ask"]}}</td>
            <td class="tg-0lax">${{p["coinbase"]["BTC"]["bid"]}}</td>
            <td class="tg-0lax">${{p["binance"]["BTC"]["ask"]}}</td>
            <td class="tg-0lax">${{p["binance"]["BTC"]["bid"]}}</td>
          </tr>
          <tr>
            <td class="tg-0lax">ETH</td>
            <td class="tg-0lax">${{p["coinbase"]["ETH"]["ask"]}}</td>
            <td class="tg-0lax">${{p["coinbase"]["ETH"]["bid"]}}</td>
            <td class="tg-0lax">${{p["binance"]["ETH"]["ask"]}}</td>
            <td class="tg-0lax">${{p["binance"]["ETH"]["bid"]}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <p>
        If you are looking to buy Bitcoin, you should go to
        {{recs["BTC-buy-rec"]}}
      </p>
      <p>
        If you are looking to sell Bitcoin, you should go to
        {{recs["BTC-sell-rec"]}}
      </p>
      <p>
        If you are looking to buy Ethereum, you should go to
        {{recs["ETH-buy-rec"]}}
      </p>
      <p>
        If you are looking to buy Ethereum, you should go to
        {{recs["ETH-sell-rec"]}}
      </p>
    </div>
  </body>
</html>
