<!DOCTYPE html>
<html lang="en">
  <style type="text/css"></style>
  <head>
    <link rel="stylesheet" href="../static/styles/main.css" />
  </head>
  <body>
    <div>
      <h1>My Crypto Tracker</h1>
    </div>
    <div>
      <table class="tg">
        <thead>
          <tr>
            <th class="tg-0lax" rowspan="2"></th>
            <th class="tg-0lax" colspan="2">Exchange 1</th>
            <th class="tg-0lax" colspan="2">Exchange 2</th>
          </tr>
          <tr>
            <th class="tg-0lax">Ask</th>
            <th class="tg-0lax">Bid</th>
            <th class="tg-0lax">Ask</th>
            <th class="tg-0lax">Bid</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="tg-0lax">BTC</td>
            <td class="tg-0lax">p1</td>
            <td class="tg-0lax">p2</td>
            <td class="tg-0lax">p3</td>
            <td class="tg-0lax">p4</td>
          </tr>
          <tr>
            <td class="tg-0lax">ETH</td>
            <td class="tg-0lax">p5</td>
            <td class="tg-0lax">p6</td>
            <td class="tg-0lax">p7</td>
            <td class="tg-0lax">p8</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
